:root {
    --primary-100: #F5F5F5;
    --primary-200: #d6d6d6;
    --primary-300: #929292;
    --accent-100: #E0E0E0;
    --accent-200: #7f7f7f;
    --text-100: #333333;
    --text-200: #5c5c5c;
    --bg-100: #FFFFFF;
    --bg-200: #f5f5f5;
    --bg-300: #cccccc;
    --card-bg: var(--bg-200);
    --card-body-bg: linear-gradient(170deg, var(--bg-100) -17.62%, var(--bg-200) 44.86%);
}

.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top right, var(--accent-200), var(--text-100) 100%);
    transform: translate3d(0, 0, 0) scale(0.975);
    filter: blur(15px);
    opacity: var(0.25);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

body {
    font-family: 'Inter';
    background-color: var(--bg-100);
    color: var(--text-100);
}

#hero {
    /* height: 100vh; */
    width: 100%;
}

#hero h1 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--text-100);
    line-height: 70px;
    letter-spacing: -1px;
}

#hero p {
    font-size: 1.43rem;
    font-weight: 400;
    color: var(--text-200);
    line-height: 30px;
    letter-spacing: -1px;
    width: 77%;
    margin: auto;
}

#hero button {
    border-radius: 0;
    background: var(--text-100);
    color: var(--primary-100);
    border-color: var(--text-100);
}

#hero input {
    border: 0;
}

#hero_img {
    width: 100%;
    height: 100%;
    max-height: 680px;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
    border: 2px solid var(--bg-200);
    /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-image:linear-gradient(to bottom, rgba(0,0,0,1) 33%, rgba(0,0,0,0.75)); */
}
.logo{
    width: 50px;
    margin-left: 10px;
    filter: brightness(0);
}
#menu {
    position: sticky;
    top: 0;
    opacity: 0.66;
    z-index: 999;
    backdrop-filter: blur(3px) grayscale(0.5) brightness(0.8) contrast(1.2);
    background-color: var(--bg-200); 
    color:var(--text-200);
    padding-top: 10px;
    padding-bottom: 10px;
}
#menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

#menu li {
    margin-right: 10px;
    /* margin-top: 10px; */
    padding: 0;
}

#problems,
#benefits,
#features {
    /* height: 100vh; */
    /* margin-top: 200px; */
    color: var(--text-100);
}

#problems {
    position: relative;
}

#problems ul {
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    text-align: left;
}

#problems ul li {
    /* border-bottom:1px solid var(--text-100); */
    /* border: 1px solid var(--text-100); */
    position: relative;
    padding: 20px;
    padding-right: 45px;
    margin: 7px;
    color: var(--text-200);
    border-radius: 15px;
}
#problems .active {
    box-shadow: inset 1px 1px 3px 3px var(--primary-100);
    content: '->';
    box-shadow: 0px 0px 2px 3px var(--bg-200);
}

#problems .active::after {
    content: '->';
    justify-content: flex-end;
    position: absolute;
    right: 0;
    padding-right: 10px;
}
#problemsContainer {
    user-select: none;
    z-index: -1;
    overflow: hidden;
    background: var(--primary-100);
    color: var(--text-200);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 6px 2px var(--bg-100);
}

#problems ul li:hover, #usecases ul li:hover {
    color: var(--text-100);
    box-shadow: inset 1px 1px 3px 3px var(--primary-100);
    box-shadow: 0px 0px 2px 3px var(--bg-200);
}


#problemsContainer p {
    color: var(--text-100);
}

#usecases ul {
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    text-align: left;
}

#usecases ul li {
    /* border-bottom:1px solid var(--text-100); */
    /* border: 1px solid var(--text-100); */
    position: relative;
    padding: 20px;
    padding-left: 45px;
    margin: 7px;
    color: var(--text-200);
    border-radius: 15px;
}
#usecases .active {
    box-shadow: inset 1px 1px 3px 3px var(--primary-100);
    content: '->';
    box-shadow: 0px 0px 2px 3px var(--bg-200);
}

#usecases .active::before {
    content: '<-';
    justify-content: flex-start;
    position: absolute;
    left: 0;
    padding-left: 10px;
}


/* #problems_underline {
    position: absolute;
    background-image: url('./bulbs10.svg');
    background-size: contain;
    background-repeat: no-repeat;
    offset: 500px;
    background-origin: content-box;
    background-position: top;
    filter: opacity(0.12);
    width: 100%;
    height: 63%;
} */

#speedContainer {
    color: var(--text-100);
    position: absolute;
    /* bottom: 0;
    left: 0; */
    bottom: -100px;
    right: -35px;
    background-color: var(--bg-100);
    box-shadow: 0px 0px 2px 3px var(--bg-200);
    background-image: url('./gauge3.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    border-radius: 100%;
    filter: opacity(0.66) grayscale(1);
    width: 12%;
    height: 28%;
}

#workflowsContainer {
    position: absolute;
    /* bottom: 0;
    left: 0; */
    bottom: -100px;
    right: -35px;
    background-color: var(--bg-100);
    box-shadow: 3px 3px 4px 3px var(--bg-200);
    background-image: url('./automate.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: padding-box;
    /* background-position-y: 20px!important; */
    /* offset: 500px; */
    background-origin: content-box;
    background-position: top;
    filter: opacity(0.66) grayscale(1);
    border-radius: 100%;
    width: 12%;
    height: 28%;
}

#enrichContainer {
    position: absolute;
    /* bottom: 0;
    left: 0; */
    bottom: -100px;
    right: -35px;
    background-color: var(--bg-100);
    box-shadow: 0px 0px 2px 3px var(--bg-200);
    background-image: url('./enrich2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position-y: 20px!important; */
    /* offset: 500px; */
    background-origin: content-box;
    background-position: center;
    filter: opacity(0.66) grayscale(1);
    border-radius: 100%;
    width: 12%;
    height: 28%;
}

#migrateContainer {
    color: var(--text-100);
    position: absolute;
    /* bottom: 0;
    left: 0; */
    bottom: -100px;
    right: -35px;
    background-color: var(--bg-100);
    box-shadow: 0px 0px 2px 3px var(--bg-200);
    background-image: url('./s_no_bg.svg');
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    border-radius: 100%;
    filter: opacity(0.66) grayscale(1);
    width: 12%;
    height: 28%;
}

#problems h3 {
    font-size: 2rem;
    /* line-height: 70px; */
    text-align: left;
    letter-spacing: -2px;
    margin-bottom: 30px;
}

#problems p {
    font-size: 18px;
    line-height: 24px;
    /* letter-spacing: -1px; */
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90%;
}

/* grid system problems */
.wrapper2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 75px;
    /*   grid-auto-rows:100px; */
    grid-template-areas:
        "a a b b b b"
        "a a b b b b"
        "c c c d d d"
        "c c c d d d";
    align-items: flex-end;
}

.wrapper2 div:nth-child(1) {
    grid-area: a;
    height: fit-content;
    align-self: self-end;
}

.wrapper2 div:nth-child(2) {
    grid-column: 2 / 4;
    grid-row: 1;
    grid-area: b;
    height: fit-content;
    align-self: self-end;
}

.wrapper2 div:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 2;
    grid-area: c;
    height: fit-content;
    align-self: self-start;
}

.wrapper2 div:nth-child(4) {
    grid-area: d;
    height: fit-content;
    align-self: self-start;
}

.features-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    grid-auto-rows: 220px;
}

.features-wrapper2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 75px;
    grid-auto-rows: 150px;
    grid-template-areas:
        "a a b b c c"
        ". d d e e ."
        "f f g g h h";
}
.features-wrapper2 div:nth-child(1) {grid-area: a;}
.features-wrapper2 div:nth-child(2) {grid-area: b; }
.features-wrapper2 div:nth-child(3) {grid-area: c; }
.features-wrapper2 div:nth-child(4) {grid-area: d; }
.features-wrapper2 div:nth-child(5) {grid-area: e; }
.features-wrapper2 div:nth-child(6) {grid-area: f; }
.features-wrapper2 div:nth-child(7) {grid-area: g; }
.features-wrapper2 div:nth-child(8) {grid-area: h; }

.feature {
    align-items: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    text-align: center; 
    border-radius: 20px;
    box-shadow: inset 1px 1px 3px 3px var(--primary-100);
    box-shadow: 0px 0px 2px 3px var(--bg-200);
}
.feature > i{
    font-size: 30px;
    padding: 20px;
}
.feature > h4{
    padding: 10px;
}

#benefits .svg {
    color: var(--text-100);
    stroke: var(--text-100);
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: contain;
    opacity: 0.33;
    transition: 0.3s;
}

#benefits .svg2 {
    color: var(--text-100);
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: contain;
    opacity: 0.33;
    transition: 0.3s;

}

.card {
    background: var(--card-bg);
    color: var(--text-200);
    border-radius: 38px;
    padding: 2px;
    --bs-card-border-color: none;
}

.card-body {
    background: var(--card-body-bg);
    border-radius: 38px;
}

#benefits .card {
    text-align: left;
    transition: 0.3s;

}

#benefits .card-body {
    transition: 0.3s;
}

#benefits .card:hover span {
    border-bottom: 2px solid var(--primary-200);
}

#features .card-body>p {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    /* align-content: flex-end; */
    justify-content: center;
    align-items: flex-end;
    font-weight: normal;
    color: var(--text-200);
}

#features .card-body>h1 {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: var(--text-100);
}

#features .card-body i {
    font-size: 60px;
    color: var(--text-200);
    align-self: flex-start;
}

#features .card {
    display: grid;
    text-align: left;
    background-size: cover;
    position: relative;
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform: rotate3d(0);
}

#features .card-body {
    border-radius: 38px;
    display: flex;
    flex-wrap: wrap;
}

#features .card .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}

.box1:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #222222 0%, #04619F 100%);
    transform: translate3d(-5px, 0, 0) scale(.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.box1::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.box2:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, #222222 0%, #04619F 100%);
    transform: translate3d(7px, 0, 0) scale(.96);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.box2::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.box3:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #222222 0%, #04619F 100%);
    transform: translate3d(-7px, 0, 0) scale(.96);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.box3::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.box4:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, #222222 0%, #04619F 100%);
    transform: translate3d(10px, 0, 0) scale(.94);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.box4::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.highlight {
    text-shadow: 3px 4px 4px var(--accent-100);
}

.extra {
    color: lightskyblue;
    font-size: larger;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 15px;
    text-shadow: none;
}

.right {
    min-height: 388px;
    text-align: left;
}

.accordion-item {
    cursor: pointer;
    user-select: none;
    padding: 10px;
    /* padding-right: 45px; */
    margin: 10px;
    color: var(--text-200);
    border-radius: 15px !important;
    box-shadow: inset 1px 1px 3px 3px var(--primary-100);
    box-shadow: 0px 0px 2px 3px var(--bg-200);
    border: none;
}

.accordion {
    --bs-accordion-item-color: var(--text-100) !important;
    --bs-accordion-active-bg: none !important;
    --bs-accordion-bg: var(--bg-100) !important;
    --bs-accordion-active-color: var(--text-100) !important;
}

.btn:focus,
.form-control:focus,
.accordion-button:focus {
    outline: none !important;
    box-shadow: none;
}
.quote{
    height: 800px; 
    align-items: center; 
    display: flex; 
    margin: 0;
}